html
{
    font-family: "Segoe UI", sans-serif;
}

#main-content
{
    width: 50%;
    margin: auto;
    text-align: center;
}

a#main-heading
{
    text-decoration: none;
    color: inherit;
}

#navigation a,
.story-form input[type=submit]
{
    text-decoration: none;
    color: inherit;
    margin: 0.25em;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    font-size: inherit;
}

.story-form input[type=submit]
{
    float: right;
}

#navigation a
{
    border: solid 1px #BCE;
    background-color: #DEF;
}

input[type=submit]
{
    border: solid 1px #9BE;
    background-color: #ACF;
}

.previous-story-text
{
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 1em;
}

.story-form .input-text
{
    min-width: 100%;
    max-width: 100%;
    min-height: 8em;
    display: block;
    border: solid 1px #AAA;
    border-radius: 0.125em;
}

.story-form .characters-remaining
{
    float: left;
}