<div class="center" id="navigation">
  <div>
    <a class="button" href="/story?action=new">New Story</a>
    <a class="button" href="/story?action=continue">Continue Story</a>
  </div>
  <br />
  <div>
    <a class="button" href="/stories-viewer">See All Stories</a>
  </div>
  <div>
  <form action="/single">
  <br>
    View story by id: <input type="text" pattern="\d+" name="story-id"/>
  </form>
  </div>
</div>
