<div class="center" id="navigation">
  <div>
    <a class="button" href="/story?action=new">New Story</a>
    <a class="button" href="/story?action=continue">Continue Story</a>
  </div>
  <br />
  <div>
    <a class="button" href="/stories-viewer">See Stories</a>
  </div>
</div>
