html
{
    color: #333;
    background: #FFF;
    font-family: "Segoe UI", sans-serif;
}

#main-content
{
    min-width: 360px;
    width: 50%;
    max-width: 640px;
    margin: auto;
    text-align: center;
}

a#main-heading
{
    text-decoration: none;
    color: inherit;
}

#navigation a,
.story-form input[type=submit]
{
    border: solid 1px #BCE;
    background-color: #DEF;
    text-decoration: none;
    color: inherit;
    margin: 0.25em;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    font-size: inherit;
}

input[type=submit]
{
    border: solid 1px #9BE;
    background-color: #ACF;
}

.current-story-title
{
    font-family: "Georgia", serif;
    font-size: inherit;
    width: 100%;
    text-align: center;
}

input.current-story-title
{
    border: none !important;
    background: transparent;
}

.current-story-text
{
    text-align: justify;
    text-justify: inter-word;
    font-family: "Georgia", serif;
}

.story-form [type="text"],
.story-form textarea
{
    border: 1px solid;
    color: inherit;
    background: inherit;
}

.story-form
{
    margin: 1em;
}

.story-form textarea
{
    min-width: 100%;
    max-width: 100%;
    min-height: 7.5em;
    display: block;
    border: solid 1px #AAA;
    border-radius: 0.125em;
    font-family: "Georgia", serif;
}

.story-form .characters-remaining
{
    float: left;
}

.left-align
{
    text-align: left;
}
